// for example 
@mixin headerFz {
    font-size: 1.4rem;
    line-height: 1.7rem;
}
// можно передавать параметры
@mixin font ($color, $fz) {
    font-size: $fz;
    font-family: $f-main;
    color: $color;
    font-weight: 700;
}
@mixin flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin flex_column {
    display: flex;
    flex-direction: column;
}
// FONT MIXINS
@mixin fontSubt {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 150%;
    color: $c-whiteOpct;
}
@mixin fontC-white {
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: $c-whiteOpct;
}
@mixin fontTitle {
    font-style: normal;
    font-weight: 600;
    color: $c-white;
    opacity: 80%;
}
@mixin fontCardTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 150%;
    color: $c-white;
    opacity: 80%;
}
@mixin fontFz {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: $c-white;
    opacity: 80%;
}