$bgColor: #171836;
$c-white: #FFFFFF;
$btnColor: #F5443B;
$btn-bgHov: #9e261f;
$control-textColor: #D1D1D7;
$bgBurger: #191931;
$btn-burgerHov: #3D408F;

$f-main: 'Inter';

$fz-title: 3.6rem; // make mixin for that
$fz-subtitle: 1.4rem; // make mixin for that
