$bgColor: #171836;
$c-white: #FFFFFF;
$c-green: #3BF5BD;
$btnColor: #F5443B;
$btn-bgHov: #9e261f;
$c-cardOrange: #F5453D;
$control-textColor: #D1D1D7;
$bgBurger: #191931;
$btn-burgerHov: #3D408F;

$c-whiteOpct: rgba(255, 255, 255, 0.4);
$f-main: 'Inter';

$bgPlus: #8087B8; // fix that!
$bg-heroItem: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
$c-borderPlus: #8087B8;
$c-TextGal: #BBBBC4;
$c-spanGal: #E75353;
$bgFormFld: #1F2143;
$bgFormBtn: #282B57;
$c-heroBtn: rgba(154, 156, 203, 0.6);
$bg-heroGal: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
$c-pinkCardBord: #FF7D7D;
$c-greenCardBord: #4DB88D;
$c-yellCardBord: #B8A74D;
$fz-title: 3.6rem; // make mixin for that
$fz-subtitle: 1.4rem; // make mixin for that

$bg-classCard: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
$bord-classCard: #292B56;
$bord-priceCard: #272953;