// CARDS-SECTION
mixin cardContent(title, img, value)
        .cards-item
            h2.cards-title= title
                if block
                    block
                else
                    p.cards-text No content provided
            .cards-img
                div(class= value).cards-pic
                    img.cards-pic_one(src= img, alt="img") 
                    
section.cards.container
    .cards-content
        +cardContent('Get New Friends', '/assets/images/card_students.svg', 'cards-img__one') 
            p.cards-text You will meet new friends in some of classes<br>that you take. Say hello to them and make<br>friends, it will be so much warm friendship!
                       
        +cardContent('Expert and Fun Mentor', '/assets/images/card_teacher.svg', 'cards-img__two') 
            p.cards-text Learn with earnest and don’t forget to get<br>relax too. Learn and enjoy the materials or<br>classes with our expert mentors.

        +cardContent('Flexible Access', '/assets/images/card_heart.svg', 'cards-img__three') 
            p.cards-text You can access materials or classes easily by<br>our website also mobile. Access it everywhere<br>and everytime, no limit for you to learn!

    