// CARDS-SECTION
section.cards.container
    .cards-content
        .cards-item
            h2.cards-title Get New Friends
            p.cards-text You will meet new friends in some of classes<br>that you take. Say hello to them and make<br>friends, it will be so much warm friendship!
            .cards-img.cards-img__one
                .cards-pic 
                    img.cards-pic_one(src="assets/images/card_students.svg", alt="students")
        .cards-item
            h2.cards-title Expert and Fun Mentor
            p.cards-text Learn with earnest and don’t forget to get<br>relax too. Learn and enjoy the materials or<br>classes with our expert mentors.
            .cards-img.cards-img__two
                .cards-pic 
                    img.cards-pic_one(src="assets/images/card_teacher.svg", alt="teacher")      
        .cards-item 
            h2.cards-title Flexible Access
            p.cards-text You can access materials or classes easily by<br>our website also mobile. Access it everywhere<br>and everytime, no limit for you to learn!
            .cards-img.cards-img__three
                .cards-pic 
                    img.cards-pic_one(src="assets/images/card_heart.svg", alt="heart")   