// CLASSES SECTION
//mixin cardClasses ()



section.classes.container
    h2.classes-title What Do You Want to Learn?
    p.classes-subtitle Choose the right class as you need. Then enjoy studying.
    .classes-cards
        .classes-content
            .classes-card 
                .classes-card__img 
                    img.classes-card__pic(src="assets/images/classesTechnology.png", alt="technology")
                .classes-card__img_item 
                    p.classes-card__item-text.text_one 12 Videos
                p.classes-card__text Technology
                h2.classes-card__title  Digital Marketing Strategy
                p.classes-card__subtitle This course aims to give you deeper<br>understanding of core processes ...
                .classes-card__container
                    .classes-card__icon 
                        img.classes-card__item.mentor__one(src="assets/images/classMentor-one.png", alt="mentor")
                    .h2.classes-card__name
                        h2.classes-card__item-one Joey Piere
                        p.classes-card__item-two Mentor
     
            


