// HEADER
header.header.container
      .header-menu 
        a.header-logo(href="#") 
          img(src="../assets/images/logo.svg", alt="Sinauw")
        nav
          ul.nav
            li.nav-item
              a.nav-link.active(href="#") Home
            li.nav-item
              a.nav-link(href="#") Courses
            li.nav-item
              a.nav-link(href="#") Webinar
            li.nav-item
              a.nav-link(href="#") Pricing
      .control
        .control-name
          h3.control-language.control-item Eng
          .control-globe.control-item
            img.control-globe.control-item(src="../assets/images/globe.svg", alt="globe")
          .control-polygon
            img.control-polygon(src="../assets/images/polygon.svg", alt="polygon")
        .control-button Login
      // BURGER
      .burger
        .header-burger
          span.burger__line
      
      

      
      
        
        
        
        