//HERO-SECTION
section.hero.container
  .hero-img
    img.hero-img_pic(src='assets/images/hero.png', alt='Skills')
    .hero-img__item.hero-img__lamp 
      .hero-img__item_lamp    
        img.hero-img__lamp-pic(src="assets/images/hero_lightbulb.svg", alt="lump")
    .hero-img__item.hero-img__book 
      .hero-img__item_book 
        img.hero-img__book-pic(src="assets/images/hero_book.svg", alt="book")
    .hero-img__ellipse
      img.hero-img__ellipse_red(src='assets/images/ellipse_red.svg' alt='ellipse')
    .hero-img__ellipse_two
      img.hero-img__ellipse_red-two(src='assets/images/ellipse_red2.svg' alt='ellipse')
    .hero-img__ellipse_three
      img.hero-img__ellipse_green(src='assets/images/ellipse_green.svg' alt='ellipse')
    .hero-img__ellipse_four
      img.hero-img__ellipse_yellow(src='assets/images/ellipse_yellow.svg' alt='ellipse')
    .hero-img__gallery 
      .hero-img__gallery_img 
        .hero-img__gallery_one  
          img.hero-img__gallery_pic-one(src="assets/images/studentFirst.png", alt="students")
        .hero-img__gallery_two  
          img.hero-img__gallery_pic-two(src="assets/images/studentSecond.png", alt="students")
        .hero-img__gallery_three 
          img.hero-img__gallery_pic-three(src="assets/images/studentThird.png", alt="students")
        .hero-img__gallery_four 
          img.hero-img__gallery_pic-four(src="assets/images/studentFour.png", alt="students")
        .hero-img__gallery_plus 
          img.hero-img__gallery_pic-plus(src="assets/images/studentPlus.png", alt="students")
        p.hero-img__gallery_text More than 80k+<br>Students <span> joined! </span>
    
  //HERO INFO
  .hero-info
    h1.hero-info__title Grow Your Skills <br> To Advance Your <br> Career Path.
    p.hero-info__text We have something big for you who want to level up!
    form.form(method='get' action='#')
      input.form-field(type='text' placeholder='What do you want to learn...')
      button.form-btn(type='submit')
        div
          img.form-btn_img(src='assets/images/hero_search.svg' alt='Search')
    .hero__menu
    p.hero__menu-text Suggestions
    .hero__menu-button
      button.hero__menu-btn UI UX Design
      button.hero__menu-btn CSS Fundamental
      button.hero__menu-btn 3D Design Illustration
      button.hero__menu-btn Website Development
      button.hero__menu-btn Logo Design
      button.hero__menu-btn Icon Design

