@import "../util/var";
@import "../util/mixins";


.hero {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 12rem;
    padding-left: 1.8rem;
    padding-bottom: 15.6rem;
}
.hero-img {
    position: relative;

    &_pic {
        max-width: 78.5rem;
        width: 100%;
    }

    &__item {
        max-width: 9rem;
        width: 100%;
        background: $bg-heroItem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        position: absolute;
    }

    &__lamp {
        top: 18.5%;
        left: 9.5%;
        transform: rotate(-8.82deg);
    }

    &__item_lamp {
        padding: 1.7rem 1.6rem 1.9rem 1.8rem;
    }

    &__lamp-pic {
        max-width: 5.962rem;
        height: 5.682rem;
        transform: rotate(10deg);  
    }

    &__book {
        top: 5.37%;
        right: 18%;
        transform: rotate(12.79deg); 
    }

    &__item_book {
        padding: 2rem 1.6rem 1.4rem 1.7rem;
    }

    &__book-pic {
        width: 5.625rem;
        height: 4.875rem;
        transform: rotate(-9deg); 
    }
    
    &__ellipse_red {
        max-width: .4rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 79%;
    }

    &__ellipse_red-two {
        max-width: .6rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 42%;
    }

    &__ellipse_green {
        max-width: .4rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 5%;
    }

    &__ellipse_yellow {
        max-width: .8rem;
        width: 100%;
        position: absolute;
        bottom: -6%;
        left: 75%;
    }
}

// HERO GALLERY
.hero-img__gallery {
    background: $bg-heroGal;
    opacity: 80%;
    border-radius: 2rem;
    max-width: 36.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4%;
    right: 5.86%;

    &_img {
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }

    &_pic-one,
    &_pic-two,
    &_pic-three,
    &_pic-four,
    &_plus {
        width: 5.2rem;
        height: 5.2rem;
    }

    &_two,
    &_three,
    &_four,
    &_plus {
        margin-left: -1.6rem;
    }

    &_plus {
        width: 5.2rem;
        padding: 1.3rem 1.3rem;
        background-color: $bgPlus;
        border-radius: 3rem;
        border: 1px solid $c-borderPlus;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_pic-plus {
        max-width: 2.4rem;;
        width: 100%;
    }
    &_text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 160%;
        color: $c-TextGal;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: 1.6rem;

        span {
            color: $c-spanGal;
        }
    }  
}

//HERO INFO
.hero-info {
    max-width: 50.6rem;
    width: 100%;
    margin-left: 1.1rem;
    padding-top: 6.5rem;

    &__title {
        @include fontTitle;
        margin-bottom: 2.4rem;
        font-size: 5.6rem;
        line-height: 130%;
    }

    &__text {
        @include fontSubt;
        margin-bottom: 3.5rem;
    }  
}
//HERO FORM
.form {
    position: relative;

    &-field {
        @include fontC-white;
        font-size: 1.6rem;
        background-color: inherit;
        border: none;
        max-width: 50.6rem;
        width: 100%;
        padding: 2.2rem 20.5rem 2.2rem 3.2rem;
        background: $bgFormFld;
        border-radius: 1.2rem;
        border: none;

        &::placeholder {
            @include fontC-white;
            font-size: 1.6rem;
        }
    }

    &-btn {
        width: 4.4rem;
        height: 4.4rem;
        background-color: $bgFormBtn;
        border: 0;
        box-shadow: none;
        border-radius: .6rem;
        cursor: pointer;
        transform: translateY(-50%); 
        position: absolute;
        top: 50%;
        right: 2.65%;
        
        &_img {
            max-width: 2.4rem;
            width: 100%;
        }  
    }
}

//HERO MENU
.hero__menu {
    
    &-text {
        @include fontSubt;
        margin-top: 3.5rem;
        margin-bottom: 3.4rem;
    }

    &-button {
        display: flex;
        flex-wrap: wrap; 
    }

    &-btn {
        background-color: inherit;
        border: .1rem solid $c-heroBtn;
        border-radius: .8rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 150%;
        color: $c-heroBtn;
        padding: .8rem 1.8rem;
        margin-right: 1.9rem;
        margin-bottom: 1.9rem;
    }
}
//ADAPTIVE
@media screen and (max-width: 1120px) {
    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 770px) {
    .hero {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}
@media screen and (max-width: 600px) {
    .hero-img {

        &__item {
            max-width: 7rem;
            width: 100%;
        }

        &__item_lamp,
        &__item_book {
            padding: 1rem;
        }
    
        &__lamp-pic,
        &__book-pic {
            max-width: 5rem; 
        }
    } 
}
@media screen and (max-width: 560px) {
    .hero-info__title {
        font-size: 5rem;
    }
}
@media screen and (max-width: 532px) {
    .hero-info__text {
        font-size: 1.6rem;
    }
    .form-field {
        padding-right: 17rem;
    }
    .hero-img__gallery_img {
        padding: 1.5rem;
    }
}
@media screen and (max-width: 511px) {
    .hero-img {

        &__item {
            max-width: 5rem;
            width: 100%;
            border-radius: 1.5rem;
            justify-content: center;
        }

        &__item_lamp,
        &__item_book {
            padding: .7rem;
        }
    
        &__lamp-pic,
        &__book-pic {
            max-width: 4rem;
            height: 4rem;  
        }
    }
    
    .hero-info {
        text-align: center;

        &__title {
            font-size: 4rem;   
        }

        &__text {
            font-size: 1.3rem;
        }

        .hero__menu {

            &-text {
                margin-bottom: 2.4rem;
            }

            &-button {
                flex-direction: column;  
            }
        } 
    }
    .form-field {
        padding-right: 13rem;

        &::placeholder {
            font-size: 1.3rem;
        }
    }
}
@media screen and (max-width: 480px) {
    .hero-img {

        &__lamp-pic,
        &__book-pic {
            max-width: 3rem;
            height: 3rem;  
        }

        &__gallery_img {
            padding: 1rem;
        }
    }
}
@media screen and (max-width: 432px) {
    .hero-img__gallery {
        display: none;
    }
    .hero-info {

        &__title {
            font-size: 3rem;
        }

        &__text {
            font-size: 1rem;
        }
    }
    .form-field {
        padding-right: 5rem;
        font-size: 1rem;

        &::placeholder {
            font-size: 1.1rem;
        }
    }
} 
@media screen and (max-width: 351px) {
    .hero-img {

        &__ellipse_green {
            max-width: .3rem;
        }
        &__ellipse_red-two {
            max-width: .4rem;
        }
        &__ellipse_yellow {
            max-width: .5rem;
        }
        &__item {
            display: none;
        }
    }
    .hero-info__title {
        font-size: 2rem;
    }
    .form {
        &-field {
            padding-left: 1.5rem;
        }
        &-btn {
            width: 4rem;
            height: 4rem;

            &_img {
                max-width: 2.4rem;
                width: 100%;
            }  
        }
    }
}  